# CircleCI Adaptive Testing Configuration
# This file enables intelligent test selection based on code changes
# Documentation: https://circleci.com/docs/guides/test/adaptive-testing/
# Multiple test suites are separated by '---'

# Unit Tests - Service layer tests
name: unit-tests
discover: find src -name "*.spec.ts" -type f | sed 's|^|/home/circleci/project/|'
run: npm test -- << test.atoms >> --ci --maxWorkers=2 --passWithNoTests
analysis: npm test -- << test.atoms >> --ci --coverage --runInBand --passWithNoTests
outputs:
  junit: test-results/jest/results.xml
  lcov: coverage/lcov.info
options:
  adaptive-testing: true
  dynamic-batching: true
---
# Integration Tests - Cross-service integration tests
name: integration-tests
discover: find tests/integration -name "*.test.ts" -type f | sed 's|^|/home/circleci/project/|'
run: npm test -- << test.atoms >> --ci --maxWorkers=2 --passWithNoTests
analysis: npm test -- << test.atoms >> --ci --coverage --runInBand --passWithNoTests
outputs:
  junit: test-results/jest/results.xml
  lcov: coverage/lcov.info
options:
  adaptive-testing: true
  dynamic-batching: true
---
# E2E Tests - End-to-end API tests
name: e2e-tests
discover: find tests/e2e -name "*.test.ts" -type f | sed 's|^|/home/circleci/project/|'
run: npm test -- << test.atoms >> --ci --runInBand --passWithNoTests
analysis: npm test -- << test.atoms >> --ci --coverage --runInBand --passWithNoTests
outputs:
  junit: test-results/jest/results.xml
  lcov: coverage/lcov.info
options:
  adaptive-testing: true
  dynamic-batching: true
